html, body {
	height: 100%;
}
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

/**HOME PAGE STARTS**/
.home-bg {
	background-image: url(../img/home.png);
	background-repeat: no-repeat;
	margin:0;
	background-size: cover;
}
.home {
	width:60px;
	height: 40px;
	/*position: relative;*/
	margin-left: 25px;
	margin-top: 10px;
	/*float: left;*/
}
/**MENU BAR STARTS**/
.menu-bar {
	position: absolute;
	top: 10px;
	right: 550px;
}
#nav {
	list-style: none;
	font-size: 14px;
}
#nav li {
	float: left;
	margin-left: 25px;
	margin-right: 25px;
}
#nav a {
	text-decoration: none;
	color: #abafb6;
}
#nav a:hover {
	color: black;
	cursor: pointer;
}
/**MENU BAR ENDS**/
.container1 {
	max-width:550px;
	position: absolute;
	bottom: 200px;
	right: 100px;
	margin-left:25px;
}
h1 {
	font-size: 35px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 22px;
	color: #abafb6;
}

p{
	font-size: 16px;
	line-height: 1.4em;
}
.home-button {
	width:85px;
	height: 17px;
	font-size: 14px;
	background-color:#1f76d1;
	border-radius: 25px;
	padding-left:55px;
	padding-right: 55px;
	padding-top:10px;
	padding-bottom: 10px;
}
.home-button a {
	color:white;
	text-decoration: none;
}
.home-button:hover{
	background: #228dfb;
}
/**HOME PAGE ENDS**/
/**SECTION ONE STARTS**/
.section1-box {
	max-width:400px;
	height:300px;
	left:50px;
	bottom: 100px;
	position: absolute;
}
.section1-box h4 {
	color: #abafb6;
	font-size: 18px;
}
.gear-button {
	width:185px;
	height: 17px;
	font-size: 14px;
	background-color:#1f76d1;
	border-radius: 25px;
	padding-left:20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom: 10px;
}
.gear-button a {
	color:white;
	text-decoration: none;
}
.gear-button:hover{
	background: #228dfb;
}
/**SECTIONS ONE ENDS**/
/**SECTIONS**/
.section2-box{
	float: left;
	margin-top: 300px;
	margin-left: 300px;
	color:white;
}
.section3-box{
	width:400px;
	float: left;
	margin-top: 300px;
	margin-left: 100px;
	color:black;
}
.section3-box p{
	color: #abafb6;
}
.section4-box {
	width:610px;
	color:white;
	padding-top: 60px;
	padding-left:405px;
	padding-right: 405px;
}
.section4-box p{
	margin-top: 30px;
	text-align: center;
	color: #abafb6;
}
/**SECTION ENDS**/
/**SECTION FIVE STARTS**/
.section5-box {
	width:400px;
	color:black;
	padding-top: 350px;
	padding-left:100px;
}
.section5-box p{
	margin-top: 30px;
	color: #abafb6;
}
.delta-button {
	width:185px;
	height: 17px;
	font-size: 14px;
	background-color:#1f76d1;
	border-radius: 25px;
	padding-left:20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom: 10px;
	margin-top: 20px;
}
.delta-button a {
	color:white;
	text-decoration: none;
}
.delta-button:hover{
	background: #228dfb;
}

/**SECTIONS FIVE ENDS**/
/**SLIDES**/
#slide1, #slide2, #slide3, #slide5{
	width: 100%;
	height:825px;
	background-size: cover;
}
#slide1{
	background:url(../img/gear.png) 100% 0 no-repeat fixed;
}
#slide2{
	background:url(../img/ice.png) 100% 0 no-repeat fixed;
}
#slide3{
	background:url(../img/section3.png) 100% 0 no-repeat fixed;
}
#slide4{
	background-color: black;
	width:100%;
	height:300px;
	margin: 0;
	background-size:cover;
}
#slide5{
	background: url(../img/plane.png) 100% 0 no-repeat fixed;
}

/* MEDIA QUERIES
------------------------------------------*/
@media screen and (max-width: 1175px){

	.menu-bar {
		top: 60px;
		right:auto;
	}

	#nav li {
		float: none;
	}

	.container1 h1 span {
		display: block;
		left: 25px;
		right:auto;
	}

	#slide1, #slide2, #slide3, #slide5 {
	}

}
